.img-mj-idx {       
    display: block;   
    max-height:40px;
    width: auto;
    height: auto;
}

.img-mj-details {
    display: block;   
    max-height:250px;
    width: auto;
    height: auto;
}

.img-mj-menu {
  display: block;   
  max-height:100px;
  width: auto;
  height: auto;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    padding-right: 0;
    color: #9bbb30;
    background-color: transparent;
  }
  
  .nav-tabs .nav-link {
    margin-bottom: calc(-1* var(--bs-nav-tabs-border-width));
    border: none;
    border-top-left-radius: var(--bs-nav-tabs-border-radius);
    border-top-right-radius: var(--bs-nav-tabs-border-radius);
  }
  
  .accordion-button:not(.collapsed) {
    color: black;
    background-color: #ffffff;
    box-shadow: inset 0 calc(-1* var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
  }

  .accordion-button:focus {
    z-index: 3;
    outline: 0;
}

.accordion-button:focus {
  z-index: 3;
  outline: 0;
  box-shadow: none;
}

  html, body {
    height: 100%;
    margin: 0;
    background-color: #ffffff;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content {
    flex: 1;
}

.menu-group {
  margin-bottom: 1rem;
}

.menu-item {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

/* .menu-item {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
} */
.menu-item:not(:last-child) {
  border-bottom: 1px solid #9e8a7080;
}

.menu-item img {
  max-width: 150px; /* Increase the size of the image */
  margin-right: 1rem; /* Add margin to the right */
}

.menu-item-content {
  flex: 1;
  display: flex;
  flex-direction: column; /* Stack the text and price vertically */
}/* 
.menu-item-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */
.menu-item-text {/* 
  align-self: center; */
  font-family: var(--nav-font);
  /* color: color-mix(in srgb, var(--default-color), transparent 50%); */
  color: #6c3d03d8;
  /* flex: 1; */
  margin-bottom: 0.5rem;
  
}
.menu-item-price {
  font-family: var(--nav-font);
  font-size: 1.05rem;
  font-weight: bold;
  color: var(--accent-color);
  /* margin-left: 0.5rem;
  padding-right: 0.5rem; */
}

.menu-item.no-image .menu-item-text {
  margin-left: 0;
}
.card-body {
  padding: 0; 
}
.card-header, .accordion-button, .accordion-button:not(.collapsed) {
  background-color: #ffffff;
  box-shadow: none; /* Remove box-shadow if it exists */
  
}


.menu-section-heading {
  border-bottom: none; /* Remove bottom border if it exists */
  box-shadow: none; /* Remove box-shadow if it exists */
}


/* Global border-radius for common elements */
div, img, button, input, textarea {
  border-radius: 8px; /* Adjust the value as needed */
}

/* Additional styling for specific components */
.container, .menu-section, .menu-item, .button, .input-field {
  border-radius: 8px; /* Consistent rounding for app components */
}

/* Example class for rounded corners */
.rounded {
  border-radius: 8px; /* Apply to specific elements as needed */
}

/* Example class for specific UI components */
.menu-section-heading, .menu-item-content, .card {
  border-radius: 8px; /* Apply rounded corners to specific sections */
}

/* Additional styling for more specific elements if necessary */
.menu-item-image {
  border-radius: 8px; /* Rounded image corners */
}

.menu-item-details, .price-tag {
  border-radius: 8px; /* Rounded corners for details and price tag */
}

/* Ensuring buttons and inputs have consistent rounding */
button, .btn, input, textarea {
  border-radius: 8px; /* Consistent border-radius for form elements */
}

.subcategory-item {
  border:none;
  background-color: #fff;
  border-radius: 15px;
  margin: 10px 0;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.card{
  border-color:  transparent;
}
table tr td, table tr th{
  background-color: transparent !important;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #cfcfcf;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #cfcfcf;
  outline: 0 none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.sticky-tabs {
  position: sticky;
  top: 56px; /* Adjust based on the height of your navbar */
  z-index: 1020;
  background-color: #fff; /* Ensure it's not transparent */
  width: 100%;
  padding: 0.5rem 0; /* Optional: Adjust padding */
}

.cat-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: normal;
  margin: 0 auto;
}

/* Responsive Layout */
@media (max-width: 768px) {
  .grid-container {
      grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
  }
}
/* 
#popupOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

#popup {
  position: relative;
  width: 60%;
  height: 70%;
  margin: 100px auto;
  padding: 20px;
  background: white;
}

#closePopup {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font-size: 32px;
}

@media (max-width: 768px) {
  #popup {
    width: 90%;
    height: 60%;
  }
} */

/* Popup overlay styles */
#popupOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  border-radius: 0px;
}

/* Popup content styles */
#popup {
  position: relative;
  width: 60%;
  height: 60%;
  margin: 100px auto;
  padding: 20px;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.popup-image-container {
  padding-right: 20px;
  width: 50%;
}

.popup-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Close button */
#closePopup {
  position: absolute;
  top: 0px;
  right: 20px;
  cursor: pointer;
  font-size: 48px;
  color: #333;
}

/* Ad styles */
.ad-container {
  width: 50%;
  text-align: left;
}

.ad-heading {
  font-size: 2rem;
  color: #333;
}

.ad-content {
  padding-bottom: 10px;
}

.ad-text {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #666;
}

.ad-button {
  background-color: #9bbb30;
  color: #fff !important;
  padding: 15px 30px;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border-radius: 50px;
}

.ad-button:hover {
  background-color: #8ca92c;
}

/* Responsive styles */
@media (max-width: 768px) {
  #popup {
    width: 90%;
    height: auto;
    flex-direction: column;
  }

  .popup-image-container, .ad-container {
    width: 100%;
    text-align: center;
    padding: 0%;
  }

  .popup-image {
    margin-bottom: 20px;
  }

  .ad-heading {
    font-size: 1.5rem;
  }

  .ad-text {
    font-size: 1rem;
  }

  .ad-button {
    padding: 10px 20px;
  }
}
